@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

:root,
[data-theme="light"] {
  --color-bg: #faf8f5;
  --color-card: #ffffff;
  --color-text: #2d2d2d;
  --color-text-muted: #6b6b6b;
  --color-primary: #c46d5e;
  --color-secondary: #1e5e6b;
  --color-error: #b91c1c;
}

